{% extends 'SonataPageBundle::layout.html.twig' %}

{% block content_top %}
    <h1>Headerrrr</h1>
    {{ parent() }}

{% endblock %}
{% block page_content %}
    {% if page is defined %}
        <div class="col-md-6">
            {% if page.name != 'global'%}
                {{ sonata_page_render_container('header', 'global') }}
            {% endif %}
            {{ sonata_page_render_container('header', page) }}
        </div>
        <div class="col-md-6">
            {% if page.name != 'global'%}
                {{ sonata_page_render_container('content_bottom', 'global') }}
            {% endif %}
            {{ sonata_page_render_container('content_bottom', page) }}
        </div>
        <div style="clear: both"></div>
    {% endif %}

    {{ parent() }}

{% endblock %}
